html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: clip;
  background-color: #191919;

}



html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
html.scroll-hidden {
  color: transparent;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
